.ques-ans{
    width: 95%;
    margin: auto;
}
.ques-1{
    background-color: azure;
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0 15px 0;
}
.ques-2{
    background-color: azure;
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0 15px 0;
}
.ques-3{
    background-color: azure;
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0 15px 0;
}